<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div><h1>Mobile Cart</h1></div>
    <h2>Mobile x 1 = 50</h2>
    <div id="chg"></div>
	<button id="add">add</button>
	<button id="sub">sub</button>

	<script type="text/javascript">

		$(document).ready(function(){
			$('#add').click(function(){
				$('#chg').load('{% url 'add' %}');
			})

            $('#sub').click(function(){
				$('#chg').load('{% url 'sub' %}');
			})
		});

	</script>
</body>
</html>
